In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
elon_file = "Resources/elonmusk_tweets.csv"
spacex_file = "Resources/spacex_launch_data.csv"
teslaone_file="Resources/Tesla.csv.csv"
teslatwo_file="Resources/TSLA (1).csv"

In [3]:
elon_df = pd.read_csv(elon_file)
spacex_df = pd.read_csv(spacex_file)
teslaone_df=pd.read_csv(teslaone_file)
teslatwo_df=pd.read_csv(teslatwo_file)

In [4]:
spacex_df.head( )

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success,Failure (parachute)
1,2,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NaN,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,3,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525,LEO (ISS),NASA (COTS),Success,No attempt
3,4,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,5,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [5]:
spacex_cols = ["Flight Number", "Date","Launch Site", "Payload", "Customer", "Mission Outcome", "Landing Outcome"]
spacex_transform = spacex_df[spacex_cols].copy()

spacex_transform = spacex_transform.rename(columns={"Flight Number":"id",
                                                    "Date":"real_date",
                                                    "Launch Site": "launch_site",
                                                    "Payload":"payload",
                                                    "Customer":"customer",
                                                    "Mission Outcome":"mission_outcome",
                                                    "Landing Outcome":"landing_outcome"})

spacex_transform.drop_duplicates("id", inplace=True)
spacex_transform.set_index("id", inplace=True)

spacex_transform.head()

,real_date,launch_site,payload,customer,mission_outcome,landing_outcome
id,,,,,,
1,2010-06-04,CCAFS LC-40,Dragon Spacecraft Qualification Unit,SpaceX,Success,Failure (parachute)
2,2010-12-08,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NASA (COTS) NRO,Success,Failure (parachute)
3,2012-05-22,CCAFS LC-40,Dragon demo flight C2+,NASA (COTS),Success,No attempt
4,2012-10-08,CCAFS LC-40,SpaceX CRS-1,NASA (CRS),Success,No attempt
5,2013-03-01,CCAFS LC-40,SpaceX CRS-2,NASA (CRS),Success,No attempt

In [6]:
teslatwo_df.head()

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [7]:
teslatwo_cols = ["Date","Close","Volume"]
tesla_transform = teslatwo_df[teslatwo_cols].copy()

tesla_transform = tesla_transform.rename(columns={"Date":"real_date",
                                                  "Close":"closing_price",
                                                  "Volume":"volume"})

tesla_transform.drop_duplicates("real_date", inplace=True)
tesla_transform.set_index("real_date")
tesla_transform.head()

    real_date  closing_price    volume
0  2010-06-29      23.889999  18766300
1  2010-06-30      23.830000  17187100
2  2010-07-01      21.959999   8218800
3  2010-07-02      19.200001   5139800
4  2010-07-06      16.110001   6866900

In [8]:
elon_df.head()

,id,created_at,text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [9]:
elon_cols = ["id", "created_at", "text"]
elon_transform = elon_df[elon_cols].copy()

elon_transform = elon_transform.rename(columns={"id":"id","created_at":"real_date",
                                         "text":"tweet_text"})
elon_transform.drop_duplicates("id",inplace=True)
elon_transform.head()

,id,real_date,tweet_text
0,849636868052275200,2017-04-05 14:56:29,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03 20:01:01,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03 16:59:35,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03 16:30:19,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02 06:05:23,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [10]:
elon_transform["real_date"]=elon_transform.real_date.str.split(expand=True)

In [11]:
elon_transform.head()

,id,real_date,tweet_text
0,849636868052275200,2017-04-05,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."

In [13]:
elon_transform.dropna(how="any")

,id,real_date,tweet_text
0,849636868052275200,2017-04-05,b'And so the robots spared humanity ... https:...
1,848988730585096192,2017-04-03,"b""@ForIn2020 @waltmossberg @mims @defcon_5 Exa..."
2,848943072423497728,2017-04-03,"b'@waltmossberg @mims @defcon_5 Et tu, Walt?'"
3,848935705057280001,2017-04-03,b'Stormy weather in Shortville ...'
4,848416049573658624,2017-04-02,"b""@DaveLeeBBC @verge Coal is dying due to nat ..."
5,848415731502923777,2017-04-02,"b""@Lexxxzis It's just a helicopter in helicopt..."
6,848415356263702528,2017-04-02,"b""@verge It won't matter"""
7,848398971139629057,2017-04-02,b'@SuperCoolCube Pretty good'
8,848244577521647616,2017-04-01,"b""Why did we waste so much time developing sil..."
9,848243350993895424,2017-04-01,b'Technology breakthrough: turns out chemtrail...
10,848239928043491328,2017-04-01,"b""RT @OpenAI: We've created the world's first ..."
11,848239664536223745,2017-04-01,b'RT @ProfBrianCox: This is extremely importan...
12,848036043240636417,2017-04-01,"b'@adamsbj Def P100D with Ludicrous+, although..."
13,847958571895619584,2017-03-31,b'@BadAstronomer We can def bring it back like...
14,847890916048338946,2017-03-31,b'@tesla_addict @TeslaMotors Working on it'
15,847884776719740928,2017-03-31,"b""@jasonlamb Looks like it could do 20% more w..."
16,847884413706874880,2017-03-31,b'@cheron A lot'
17,847884351375372288,2017-03-31,b'@Cardoso Silliest thing we can imagine! Secr...
18,847883435100299267,2017-03-31,"b'@redletterdave Good point, odds go from 0% t..."
19,847882909906341888,2017-03-31,b'Falcon Heavy test flight currently scheduled...
20,847882289581359104,2017-03-31,b'Considering trying to bring upper stage back...
21,847881536254955521,2017-03-31,b'@oxfordteddy Browser is already a little bet...
22,847610880506208257,2017-03-31,b'RT @SpaceX: More photos from today\xe2\x80\x...
23,847608431582208000,2017-03-31,b'@BadAstronomer @SpaceX Thanks Phil!'
24,847594208219336705,2017-03-30,b'Incredibly proud of the SpaceX team for achi...
25,847580067446345728,2017-03-30,b'RT @SpaceX: Falcon 9 first stage has landed ...
26,847561780532523008,2017-03-30,b'RT @SpaceX: ~60 minutes until launch window ...
27,847510437054877698,2017-03-30,b'RT @SpaceX: Falcon 9 and SES-10 vertical on ...
28,847259545755820033,2017-03-30,b'Made today on Tesla sketch pad https://t.co/...
29,847234747747020800,2017-03-29,"b'If you just downloaded V8.1, tap the the T o..."
...,...,...,...
2789,152311993636892672,2011-12-29,b'@kanyewest Just returned from Haiti. For tho...
2790,152154308710899713,2011-12-28,b'RT @TheOnion: Any Idiot Could Have Come Up W...
2791,152153637639028736,2011-12-28,b'@TheOnion So true :)'
2792,151809315026636800,2011-12-27,b'If you ever wanted to know the *real* truth ...
2793,151752772809801728,2011-12-27,b'RT @TheOnion: Vending Machine Attendant Admi...
2794,151338939389706242,2011-12-26,b'Walked around a neighborhood recently rebuil...
2795,151337237429239808,2011-12-26,"b""It was Xmas, so we brought presents for the ..."
2796,151327734843445249,2011-12-26,"b'Met with UNICEF, Doctors Without Borders and..."
2797,151322293174419456,2011-12-26,b'Just returned from a trip to Haiti. Covered ...
2798,151317672217419777,2011-12-26,b'Single character Tweets are the ulitmate ext...
2799,151151777662779392,2011-12-26,b'I'
2800,150390624552615937,2011-12-24,b'The Russians are having some challenges with...
2801,150388617246801920,2011-12-24,b'We had a long and interesting conversation o...
2802,150387544402575360,2011-12-24,b'Kanye stopped by the SpaceX rocket factory t...
2803,149813972915339264,2011-12-22,b'Model S options are out! Performance in red ...
2804,149787827712958464,2011-12-22,"b""Hi, I'm Art Garfunkel. Have you heard the so..."
2805,149688828599349251,2011-12-22,b'Raul Campos invited me to do a guest DJ gig ...
2806,149629518267695104,2011-12-21,b'Yum! Even better than deep fried butter: htt...
2807,149447517325635584,2011-12-21,"b'Yeah, this really is me, as my Mom @mayemusk..."
2808,149444078210256896,2011-12-21,b'Got called randomly by Kanye West today and ...
2809,149441101684686848,2011-12-21,b'His singing and acting talent will be sorely...
2810,149439686702661632,2011-12-21,"b""Why does the crowd cry over the glorious lea..."
2811,149436471764459520,2011-12-21,b'Sam Harris also wrote a nice piece on the aw...
2812,149435658115612672,2011-12-21,"b'Read ""Lying"", the new book by my friend Sam ..."
2813,143171132814671872,2011-12-04,b'Am reading a great biography of Ben Franklin...
2814,142881284019060736,2011-12-03,b'That was a total non sequitur btw'
2815,142880871391838208,2011-12-03,"b'Great Voltaire quote, arguably better than T..."
2816,142188458125963264,2011-12-01,b'I made the volume on the Model S http://t.co...
2817,142179928203460608,2011-12-01,"b""Went to Iceland on Sat to ride bumper cars o..."
2818,15434727182,2010-06-04,"b'Please ignore prior tweets, as that was some..."

In [14]:
spacex_transform.dropna(how="any")

,real_date,launch_site,payload,customer,mission_outcome,landing_outcome
id,,,,,,
1,2010-06-04,CCAFS LC-40,Dragon Spacecraft Qualification Unit,SpaceX,Success,Failure (parachute)
2,2010-12-08,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NASA (COTS) NRO,Success,Failure (parachute)
3,2012-05-22,CCAFS LC-40,Dragon demo flight C2+,NASA (COTS),Success,No attempt
4,2012-10-08,CCAFS LC-40,SpaceX CRS-1,NASA (CRS),Success,No attempt
5,2013-03-01,CCAFS LC-40,SpaceX CRS-2,NASA (CRS),Success,No attempt
6,2013-09-29,VAFB SLC-4E,CASSIOPE,MDA,Success,Uncontrolled (ocean)
7,2013-12-03,CCAFS LC-40,SES-8,SES,Success,No attempt
8,2014-01-06,CCAFS LC-40,Thaicom 6,Thaicom,Success,No attempt
9,2014-04-18,CCAFS LC-40,SpaceX CRS-3,NASA (CRS),Success,Controlled (ocean)
10,2014-07-14,CCAFS LC-40,OG2 Mission 1 6 Orbcomm-OG2 satellites,Orbcomm,Success,Controlled (ocean)
11,2014-08-05,CCAFS LC-40,AsiaSat 8,AsiaSat,Success,No attempt
12,2014-09-07,CCAFS LC-40,AsiaSat 6,AsiaSat,Success,No attempt
13,2014-09-21,CCAFS LC-40,SpaceX CRS-4,NASA (CRS),Success,Uncontrolled (ocean)
14,2015-01-10,CCAFS LC-40,SpaceX CRS-5,NASA (CRS),Success,Failure (drone ship)
15,2015-02-11,CCAFS LC-40,DSCOVR,U.S. Air Force NASA NOAA,Success,Controlled (ocean)
16,2015-03-02,CCAFS LC-40,ABS-3A Eutelsat 115 West B,ABS Eutelsat,Success,No attempt
17,2015-04-14,CCAFS LC-40,SpaceX CRS-6,NASA (CRS),Success,Failure (drone ship)
18,2015-04-27,CCAFS LC-40,TürkmenÄlem 52°E / MonacoSAT,Turkmenistan National Space Agency,Success,No attempt
19,2015-06-28,CCAFS LC-40,SpaceX CRS-7,NASA (CRS),Failure (in flight),Precluded (drone ship)
20,2015-12-22,CCAFS LC-40,OG2 Mission 2 11 Orbcomm-OG2 satellites,Orbcomm,Success,Success (ground pad)
21,2016-01-17,VAFB SLC-4E,Jason-3,NASA (LSP) NOAA CNES,Success,Failure (drone ship)
22,2016-03-04,CCAFS LC-40,SES-9,SES,Success,Failure (drone ship)
23,2016-04-08,CCAFS LC-40,SpaceX CRS-8,NASA (CRS),Success,Success (drone ship)
24,2016-05-06,CCAFS LC-40,JCSAT-14,SKY Perfect JSAT Group,Success,Success (drone ship)
25,2016-05-27,CCAFS LC-40,Thaicom 8,Thaicom,Success,Success (drone ship)
26,2016-06-15,CCAFS LC-40,ABS-2A Eutelsat 117 West B,ABS Eutelsat,Success,Failure (drone ship)
27,2016-07-18,CCAFS LC-40,SpaceX CRS-9,NASA (CRS),Success,Success (ground pad)
28,2016-08-14,CCAFS LC-40,JCSAT-16,SKY Perfect JSAT Group,Success,Success (drone ship)
29,2017-01-14,VAFB SLC-4E,Iridium NEXT 1,Iridium Communications,Success,Success (drone ship)
30,2017-02-19,KSC LC-39A,SpaceX CRS-10,NASA (CRS),Success,Success (ground pad)
31,2017-03-16,KSC LC-39A,EchoStar 23,EchoStar,Success,No attempt
32,2017-03-30,KSC LC-39A,SES-10,SES,Success,Success (drone ship)
33,2017-05-01,KSC LC-39A,NROL-76,NRO,Success,Success (ground pad)
34,2017-05-15,KSC LC-39A,Inmarsat-5 F4,Inmarsat,Success,No attempt
35,2017-06-03,KSC LC-39A,SpaceX CRS-11,NASA (CRS),Success,Success (ground pad)
36,2017-06-23,KSC LC-39A,BulgariaSat-1,Bulsatcom,Success,Success (drone ship)
37,2017-06-25,VAFB SLC-4E,Iridium NEXT 2,Iridium Communications,Success,Success (drone ship)
38,2017-07-05,KSC LC-39A,Intelsat 35e,Intelsat,Success,No attempt
39,2017-08-14,KSC LC-39A,SpaceX CRS-12,NASA (CRS),Success,Success (ground pad)
40,2017-08-24,VAFB SLC-4E,Formosat-5,NSPO,Success,Success (drone ship)
41,2017-09-07,KSC LC-39A,Boeing X-37B OTV-5,U.S. Air Force,Success,Success (ground pad)
42,2017-10-09,VAFB SLC-4E,Iridium NEXT 3,Iridium Communications,Success,Success (drone ship)
43,2017-10-11,KSC LC-39A,SES-11 / EchoStar 105,SES EchoStar,Success,Success (drone ship)
44,2017-10-30,KSC LC-39A,Koreasat 5A,KT Corporation,Success,Success (drone ship)
45,2017-12-15,CCAFS SLC-40,SpaceX CRS-13,NASA (CRS),Success,Success (ground pad)
46,2017-12-23,VAFB SLC-4E,Iridium NEXT 4,Iridium Communications,Success,Controlled (ocean)
47,2018-01-08,CCAFS SLC-40,Zuma,Northrop Grumman,Success (payload status unclear),Success (ground pad)
48,2018-01-31,CCAFS SLC-40,GovSat-1 / SES-16,SES,Success,Controlled (ocean)
FH 1,2018-02-06,KSC LC-39A,Elon Musk's Tesla Roadster,SpaceX,Success,"Success (ground pad), Failure (drone ship), Su..."
49,2018-02-22,VAFB SLC-4E,Paz Tintin A & B,Hisdesat exactEarth SpaceX,Success,No attempt
50,2018-03-06,CCAFS SLC-40,Hispasat 30W-6 PODSat,Hispasat NovaWurks,Success,No attempt
51,2018-03-30,VAFB SLC-4E,Iridium NEXT 5,Iridium Communications,Success,No attempt
52,2018-04-02,CCAFS SLC-40,SpaceX CRS-14,NASA (CRS),Success,No attempt
53,2018-04-18,CCAFS SLC-40,Transiting Exoplanet Survey Satellite (TESS),NASA (LSP),Success,Success (drone ship)
54,2018-05-11,KSC LC-39A,Bangabandhu-1,Thales-Alenia/BTRC,Success,Success (drone ship)
55,2018-05-22,VAFB SLC-4E,"Iridium NEXT 6 GRACE-FO 1, 2",Iridium Communications GFZ • NASA,Success,No attempt
56,2018-06-04,CCAFS SLC-40,SES-12,SES,Success,No attempt

In [15]:
tesla_transform.dropna(how="any")

       real_date  closing_price    volume
0     2010-06-29      23.889999  18766300
1     2010-06-30      23.830000  17187100
2     2010-07-01      21.959999   8218800
3     2010-07-02      19.200001   5139800
4     2010-07-06      16.110001   6866900
5     2010-07-07      15.800000   6921700
6     2010-07-08      17.459999   7711400
7     2010-07-09      17.400000   4050600
8     2010-07-12      17.049999   2202500
9     2010-07-13      18.139999   2680100
10    2010-07-14      19.840000   4195200
11    2010-07-15      19.889999   3739800
12    2010-07-16      20.639999   2621300
13    2010-07-19      21.910000   2486500
14    2010-07-20      20.299999   1825300
15    2010-07-21      20.219999   1252500
16    2010-07-22      21.000000    957800
17    2010-07-23      21.290001    653600
18    2010-07-26      20.950001    922200
19    2010-07-27      20.549999    619700
20    2010-07-28      20.719999    467200
21    2010-07-29      20.350000    616000
22    2010-07-30      19.940001    426900
23    2010-08-02      20.920000    718100
24    2010-08-03      21.950001   1230500
25    2010-08-04      21.260000    913000
26    2010-08-05      20.450001    796200
27    2010-08-06      19.590000    741900
28    2010-08-09      19.600000    812700
29    2010-08-10      19.030001   1281300
...          ...            ...       ...
2069  2018-09-17     294.839996   6887600
2070  2018-09-18     284.959991  16547500
2071  2018-09-19     299.019989   8294900
2072  2018-09-20     298.329987   7349400
2073  2018-09-21     299.100006   5050500
2074  2018-09-24     299.679993   4843000
2075  2018-09-25     300.989990   4481700
2076  2018-09-26     309.579987   7843200
2077  2018-09-27     307.519989   8509100
2078  2018-09-28     264.769989  33649700
2079  2018-10-01     310.700012  21777600
2080  2018-10-02     301.019989  11743500
2081  2018-10-03     294.799988   7995000
2082  2018-10-04     281.829987   9814200
2083  2018-10-05     261.950012  17944500
2084  2018-10-08     250.559998  13472700
2085  2018-10-09     262.799988  12060600
2086  2018-10-10     256.880005  12815300
2087  2018-10-11     252.229996   8167700
2088  2018-10-12     258.779999   7201400
2089  2018-10-15     259.589996   6200000
2090  2018-10-16     276.589996   9526400
2091  2018-10-17     271.779999   8655500
2092  2018-10-18     263.910004   5421200
2093  2018-10-19     260.000000   9375500
2094  2018-10-22     260.950012   5600300
2095  2018-10-23     294.140015  19027800
2096  2018-10-24     288.500000  20058300
2097  2018-10-25     314.859985  20840700
2098  2018-10-26     330.899994  27389700

[2099 rows x 3 columns]