In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
spacex_file = "spacex_launch_data.csv"
teslatwo_file="TSLA _to_29th.csv"

In [3]:
spacex_df = pd.read_csv(spacex_file)
teslatwo_df=pd.read_csv(teslatwo_file)

In [4]:
spacex_df.head( )

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success,Failure (parachute)
1,2,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NaN,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,3,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525,LEO (ISS),NASA (COTS),Success,No attempt
3,4,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,5,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [5]:
spacex_cols = ["Flight Number", "Date","Launch Site", "Payload", "Customer", "Mission Outcome", "Landing Outcome"]
spacex_transform = spacex_df[spacex_cols].copy()

spacex_transform = spacex_transform.rename(columns={"Flight Number":"id",
                                                    "Date":"real_date",
                                                    "Launch Site": "launch_site",
                                                    "Payload":"payload",
                                                    "Customer":"customer",
                                                    "Mission Outcome":"mission_outcome",
                                                    "Landing Outcome":"landing_outcome"})

spacex_transform.drop_duplicates("id", inplace=True)
spacex_transform.set_index("id", inplace=True)

spacex_transform.head()

,real_date,launch_site,payload,customer,mission_outcome,landing_outcome
id,,,,,,
1,2010-06-04,CCAFS LC-40,Dragon Spacecraft Qualification Unit,SpaceX,Success,Failure (parachute)
2,2010-12-08,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NASA (COTS) NRO,Success,Failure (parachute)
3,2012-05-22,CCAFS LC-40,Dragon demo flight C2+,NASA (COTS),Success,No attempt
4,2012-10-08,CCAFS LC-40,SpaceX CRS-1,NASA (CRS),Success,No attempt
5,2013-03-01,CCAFS LC-40,SpaceX CRS-2,NASA (CRS),Success,No attempt

In [6]:
teslatwo_df.head()

         Date       Open   High        Low      Close  Adj Close    Volume
0  2010-06-29  19.000000  25.00  17.540001  23.889999  23.889999  18766300
1  2010-06-30  25.790001  30.42  23.299999  23.830000  23.830000  17187100
2  2010-07-01  25.000000  25.92  20.270000  21.959999  21.959999   8218800
3  2010-07-02  23.000000  23.10  18.709999  19.200001  19.200001   5139800
4  2010-07-06  20.000000  20.00  15.830000  16.110001  16.110001   6866900

In [7]:
teslatwo_cols = ["Date","Open","High","Low","Close","Adj Close","Volume"]
tesla_transform = teslatwo_df[teslatwo_cols].copy()

tesla_transform = tesla_transform.rename(columns={"Date":"real_date",
                                                  "Open":"open_price",
                                                  "High":"high_price",
                                                  "Low":"low_price",
                                                  "Close":"closing_price",
                                                  "Adj Close":"adj_close",
                                                  "Volume":"volume"})

tesla_transform.drop_duplicates("real_date", inplace=True)
tesla_transform.set_index("real_date")
tesla_transform.head()

,real_date,open_price,high_price,low_price,closing_price,adj_close,volume
0,2010-06-29,19.000000,25.00,17.540001,23.889999,23.889999,18766300
1,2010-06-30,25.790001,30.42,23.299999,23.830000,23.830000,17187100
2,2010-07-01,25.000000,25.92,20.270000,21.959999,21.959999,8218800
3,2010-07-02,23.000000,23.10,18.709999,19.200001,19.200001,5139800
4,2010-07-06,20.000000,20.00,15.830000,16.110001,16.110001,6866900

In [8]:
#tesla_transform.sort_values(by='real_date', ascending=False)

In [9]:
tesla_transform["range"] = tesla_transform["high_price"].subtract(tesla_transform["low_price"], fill_value=0)

In [10]:
tesla_transform.head()

,real_date,open_price,high_price,low_price,closing_price,adj_close,volume,range
0,2010-06-29,19.000000,25.00,17.540001,23.889999,23.889999,18766300,7.459999
1,2010-06-30,25.790001,30.42,23.299999,23.830000,23.830000,17187100,7.120001
2,2010-07-01,25.000000,25.92,20.270000,21.959999,21.959999,8218800,5.650000
3,2010-07-02,23.000000,23.10,18.709999,19.200001,19.200001,5139800,4.390001
4,2010-07-06,20.000000,20.00,15.830000,16.110001,16.110001,6866900,4.170000

In [11]:
min_range = tesla_transform["range"].min()
max_range = tesla_transform["range"].max()
avg_range = tesla_transform["range"].mean()

In [12]:
tesla_transform["rng_perct_close"] =(tesla_transform["range"]/tesla_transform["closing_price"])*100

In [13]:
tesla_transform.sort_values(by='real_date',ascending=True).head()

,real_date,open_price,high_price,low_price,closing_price,adj_close,volume,range,rng_perct_close
0,2010-06-29,19.000000,25.00,17.540001,23.889999,23.889999,18766300,7.459999,31.226452
1,2010-06-30,25.790001,30.42,23.299999,23.830000,23.830000,17187100,7.120001,29.878309
2,2010-07-01,25.000000,25.92,20.270000,21.959999,21.959999,8218800,5.650000,25.728599
3,2010-07-02,23.000000,23.10,18.709999,19.200001,19.200001,5139800,4.390001,22.864587
4,2010-07-06,20.000000,20.00,15.830000,16.110001,16.110001,6866900,4.170000,25.884542

In [32]:
tesla_transform.to_csv("teslanew.csv")

In [15]:
spacex_transform.head()

,real_date,launch_site,payload,customer,mission_outcome,landing_outcome
id,,,,,,
1,2010-06-04,CCAFS LC-40,Dragon Spacecraft Qualification Unit,SpaceX,Success,Failure (parachute)
2,2010-12-08,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NASA (COTS) NRO,Success,Failure (parachute)
3,2012-05-22,CCAFS LC-40,Dragon demo flight C2+,NASA (COTS),Success,No attempt
4,2012-10-08,CCAFS LC-40,SpaceX CRS-1,NASA (CRS),Success,No attempt
5,2013-03-01,CCAFS LC-40,SpaceX CRS-2,NASA (CRS),Success,No attempt

In [33]:
spacex_transform.to_csv("spacexnew.csv")

In [17]:
tesla_transform.dropna(how="any")

,real_date,open_price,high_price,low_price,closing_price,adj_close,volume,range,rng_perct_close
0,2010-06-29,19.000000,25.000000,17.540001,23.889999,23.889999,18766300,7.459999,31.226452
1,2010-06-30,25.790001,30.420000,23.299999,23.830000,23.830000,17187100,7.120001,29.878309
2,2010-07-01,25.000000,25.920000,20.270000,21.959999,21.959999,8218800,5.650000,25.728599
3,2010-07-02,23.000000,23.100000,18.709999,19.200001,19.200001,5139800,4.390001,22.864587
4,2010-07-06,20.000000,20.000000,15.830000,16.110001,16.110001,6866900,4.170000,25.884542
5,2010-07-07,16.400000,16.629999,14.980000,15.800000,15.800000,6921700,1.649999,10.443032
6,2010-07-08,16.139999,17.520000,15.570000,17.459999,17.459999,7711400,1.950000,11.168386
7,2010-07-09,17.580000,17.900000,16.549999,17.400000,17.400000,4050600,1.350001,7.758626
8,2010-07-12,17.950001,18.070000,17.000000,17.049999,17.049999,2202500,1.070000,6.275660
9,2010-07-13,17.389999,18.639999,16.900000,18.139999,18.139999,2680100,1.739999,9.592057
10,2010-07-14,17.940001,20.150000,17.760000,19.840000,19.840000,4195200,2.390000,12.046371
11,2010-07-15,19.940001,21.500000,19.000000,19.889999,19.889999,3739800,2.500000,12.569131
12,2010-07-16,20.700001,21.299999,20.049999,20.639999,20.639999,2621300,1.250000,6.056202
13,2010-07-19,21.370001,22.250000,20.920000,21.910000,21.910000,2486500,1.330000,6.070288
14,2010-07-20,21.850000,21.850000,20.049999,20.299999,20.299999,1825300,1.800001,8.867000
15,2010-07-21,20.660000,20.900000,19.500000,20.219999,20.219999,1252500,1.400000,6.923838
16,2010-07-22,20.500000,21.250000,20.370001,21.000000,21.000000,957800,0.879999,4.190471
17,2010-07-23,21.190001,21.559999,21.059999,21.290001,21.290001,653600,0.500000,2.348520
18,2010-07-26,21.500000,21.500000,20.299999,20.950001,20.950001,922200,1.200001,5.727928
19,2010-07-27,20.910000,21.180000,20.260000,20.549999,20.549999,619700,0.920000,4.476886
20,2010-07-28,20.549999,20.900000,20.510000,20.719999,20.719999,467200,0.390000,1.882239
21,2010-07-29,20.770000,20.879999,20.000000,20.350000,20.350000,616000,0.879999,4.324319
22,2010-07-30,20.200001,20.440001,19.549999,19.940001,19.940001,426900,0.890002,4.463400
23,2010-08-02,20.500000,20.969999,20.330000,20.920000,20.920000,718100,0.639999,3.059269
24,2010-08-03,21.000000,21.950001,20.820000,21.950001,21.950001,1230500,1.130001,5.148068
25,2010-08-04,21.950001,22.180000,20.850000,21.260000,21.260000,913000,1.330000,6.255880
26,2010-08-05,21.540001,21.549999,20.049999,20.450001,20.450001,796200,1.500000,7.334963
27,2010-08-06,20.100000,20.160000,19.520000,19.590000,19.590000,741900,0.640000,3.266973
28,2010-08-09,19.900000,19.980000,19.450001,19.600000,19.600000,812700,0.529999,2.704077
29,2010-08-10,19.650000,19.650000,18.820000,19.030001,19.030001,1281300,0.830000,4.361534
...,...,...,...,...,...,...,...,...,...
2070,2018-09-18,296.690002,302.640015,275.500000,284.959991,284.959991,16547500,27.140015,9.524149
2071,2018-09-19,280.510010,300.000000,280.500000,299.019989,299.019989,8294900,19.500000,6.521303
2072,2018-09-20,303.559998,305.980011,293.329987,298.329987,298.329987,7349400,12.650024,4.240279
2073,2018-09-21,297.700012,300.579987,295.369995,299.100006,299.100006,5050500,5.209992,1.741890
2074,2018-09-24,298.480011,303.000000,293.579987,299.679993,299.679993,4843000,9.420013,3.143357
2075,2018-09-25,300.000000,304.600006,296.500000,300.989990,300.989990,4481700,8.100006,2.691121
2076,2018-09-26,301.910004,313.890015,301.109985,309.579987,309.579987,7843200,12.780030,4.128184
2077,2018-09-27,312.899994,314.959991,306.910004,307.519989,307.519989,8509100,8.049987,2.617712
2078,2018-09-28,270.260010,278.000000,260.559998,264.769989,264.769989,33649700,17.440002,6.586850
2079,2018-10-01,305.769989,311.440002,301.049988,310.700012,310.700012,21777600,10.390014,3.344066
2080,2018-10-02,313.950012,316.839996,299.149994,301.019989,301.019989,11743500,17.690002,5.876687
2081,2018-10-03,303.329987,304.600006,291.570007,294.799988,294.799988,7995000,13.029999,4.419946
2082,2018-10-04,293.950012,294.000000,277.670013,281.829987,281.829987,9814200,16.329987,5.794269
2083,2018-10-05,274.649994,274.880005,260.000000,261.950012,261.950012,17944500,14.880005,5.680475
2084,2018-10-08,264.519989,267.760010,249.000000,250.559998,250.559998,13472700,18.760010,7.487233
2085,2018-10-09,255.250000,266.769989,253.300003,262.799988,262.799988,12060600,13.469986,5.125566
2086,2018-10-10,264.609985,265.510010,247.770004,256.880005,256.880005,12815300,17.740006,6.905951
2087,2018-10-11,257.529999,262.250000,249.029999,252.229996,252.229996,8167700,13.220001,5.241249
2088,2018-10-12,261.000000,261.989990,252.009995,258.779999,258.779999,7201400,9.979995,3.856556
2089,2018-10-15,259.059998,263.279999,254.539993,259.589996,259.589996,6200000,8.740006,3.366850
2090,2018-10-16,265.700012,277.380005,262.239990,276.589996,276.589996,9526400,15.140015,5.473811
2091,2018-10-17,282.399994,282.700012,265.799988,271.779999,271.779999,8655500,16.900024,6.218274
2092,2018-10-18,269.290009,271.000000,263.000000,263.910004,263.910004,5421200,8.000000,3.031336
2093,2018-10-19,267.390015,269.660004,253.500000,260.000000,260.000000,9375500,16.160004,6.215386
2094,2018-10-22,260.679993,261.859985,252.589996,260.950012,260.950012,5600300,9.269989,3.552400
2095,2018-10-23,263.869995,297.929993,262.100006,294.140015,294.140015,19027800,35.829987,12.181269
2096,2018-10-24,301.049988,304.440002,285.730011,288.500000,288.500000,20058300,18.709991,6.485266
2097,2018-10-25,317.220001,321.000000,301.010010,314.859985,314.859985,20840700,19.989990,6.348851
2098,2018-10-26,308.250000,339.899994,306.649994,330.899994,330.899994,27425500,33.250000,10.048353
2099,2018-10-29,337.470001,347.160004,326.500000,334.850006,334.850006,14466500,20.660004,6.169928