In [1]:
# Dependencies
import tweepy
import json
import pandas as pd
import datetime as dt
from config import consumer_key, consumer_secret, access_token, access_token_secret

# Setup Tweepy API Authentication
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, parser=tweepy.parsers.JSONParser())

In [2]:
# Target User
target_user = "elonmusk"

# Tweet Texts
tweet_texts = []

# Create a loop to iteratively run API requests
for x in range(1, 200): #20 per page

    # Get all tweets from home feed (for each page specified)
    public_tweets = api.user_timeline(target_user, page=x)

    # Loop through all tweets
    for tweet in public_tweets:

        # Print Tweet
        #print(tweet["text"],tweet["created_at"])

        # Store Tweet in Array
        tweet_texts.append([tweet["id"],tweet["created_at"],tweet["text"],tweet["favorite_count"],tweet["retweet_count"]])
        #tweet_texts.append(tweet)

In [3]:
# Print the Tweet Count
print(f"Tweet Count: {len(tweet_texts)}")

Tweet Count: 3226

In [5]:
tweetData_df = pd.DataFrame(tweet_texts)
tweetData_df.columns = ["id", "Tweet_Date", "Tweet_Text", "Favorite_Count", "Retweet_Count"]
tweetData_df.head()

,id,Tweet_Date,Tweet_Text,Favorite_Count,Retweet_Count
0,1057030946594029569,Mon Oct 29 22:06:31 +0000 2018,Legally required officers of a corporation are...,33286,1241
1,1057025309688520704,Mon Oct 29 21:44:07 +0000 2018,"@FredericLambert Good point, might put that on...",2305,41
2,1057010155332628481,Mon Oct 29 20:43:53 +0000 2018,Deleted my Tesla titles last week to see what ...,129088,9791
3,1056031369480962048,Sat Oct 27 03:54:33 +0000 2018,@SnazzyQ @FredericLambert Signing off Twitter ...,2572,117
4,1056030239610925056,Sat Oct 27 03:50:03 +0000 2018,"@SnazzyQ @FredericLambert Don’t worry, we’ll m...",1523,39

In [6]:
tweetData_df.to_csv("MuskTweetData.csv", encoding="utf-8")

In [7]:
tweet_ETL = "MuskTweetData.csv"
tweet_ETL_df = pd.read_csv(tweet_ETL).drop(['Unnamed: 0'],axis=1)
tweet_ETL_df.head()

,id,Tweet_Date,Tweet_Text,Favorite_Count,Retweet_Count
0,1057030946594029569,Mon Oct 29 22:06:31 +0000 2018,Legally required officers of a corporation are...,33286,1241
1,1057025309688520704,Mon Oct 29 21:44:07 +0000 2018,"@FredericLambert Good point, might put that on...",2305,41
2,1057010155332628481,Mon Oct 29 20:43:53 +0000 2018,Deleted my Tesla titles last week to see what ...,129088,9791
3,1056031369480962048,Sat Oct 27 03:54:33 +0000 2018,@SnazzyQ @FredericLambert Signing off Twitter ...,2572,117
4,1056030239610925056,Sat Oct 27 03:50:03 +0000 2018,"@SnazzyQ @FredericLambert Don’t worry, we’ll m...",1523,39

In [8]:
tweet_ETL_df["Popular_Sum"] = tweet_ETL_df["Favorite_Count"] + tweet_ETL_df["Retweet_Count"]
tweet_ETL_df.head()

,id,Tweet_Date,Tweet_Text,Favorite_Count,Retweet_Count,Popular_Sum
0,1057030946594029569,Mon Oct 29 22:06:31 +0000 2018,Legally required officers of a corporation are...,33286,1241,34527
1,1057025309688520704,Mon Oct 29 21:44:07 +0000 2018,"@FredericLambert Good point, might put that on...",2305,41,2346
2,1057010155332628481,Mon Oct 29 20:43:53 +0000 2018,Deleted my Tesla titles last week to see what ...,129088,9791,138879
3,1056031369480962048,Sat Oct 27 03:54:33 +0000 2018,@SnazzyQ @FredericLambert Signing off Twitter ...,2572,117,2689
4,1056030239610925056,Sat Oct 27 03:50:03 +0000 2018,"@SnazzyQ @FredericLambert Don’t worry, we’ll m...",1523,39,1562

In [9]:
#tweetData_df_date = tweetData_df.Tweet_Date=pd.to_datetime(tweetData_df.Tweet_Date).dt.strftime('%Y-%M-%d %H:%M:%S')
tweet_ETL_dt_df = tweet_ETL_df.copy()
tweet_ETL_dt_df['Date'] = tweet_ETL_df.Tweet_Date=pd.to_datetime(tweet_ETL_df.Tweet_Date).dt.strftime('%Y-%m-%d')
tweet_ETL_dt_df

,id,Tweet_Date,Tweet_Text,Favorite_Count,Retweet_Count,Popular_Sum,Date
0,1057030946594029569,Mon Oct 29 22:06:31 +0000 2018,Legally required officers of a corporation are...,33286,1241,34527,2018-10-29
1,1057025309688520704,Mon Oct 29 21:44:07 +0000 2018,"@FredericLambert Good point, might put that on...",2305,41,2346,2018-10-29
2,1057010155332628481,Mon Oct 29 20:43:53 +0000 2018,Deleted my Tesla titles last week to see what ...,129088,9791,138879,2018-10-29
3,1056031369480962048,Sat Oct 27 03:54:33 +0000 2018,@SnazzyQ @FredericLambert Signing off Twitter ...,2572,117,2689,2018-10-27
4,1056030239610925056,Sat Oct 27 03:50:03 +0000 2018,"@SnazzyQ @FredericLambert Don’t worry, we’ll m...",1523,39,1562,2018-10-27
5,1056028956124561408,Sat Oct 27 03:44:57 +0000 2018,@CGasparino @Tesla The FOIA on this will be so...,1160,56,1216,2018-10-27
6,1056027905807941632,Sat Oct 27 03:40:47 +0000 2018,@Model3Owners Not going up. We will just offer...,4070,181,4251,2018-10-27
7,1056026765502513152,Sat Oct 27 03:36:15 +0000 2018,@Lindowitz @FredericLambert It’s a reasonable ...,1258,44,1302,2018-10-27
8,1056025766599651328,Sat Oct 27 03:32:17 +0000 2018,"@CGasparino @Tesla Exactly, this is total bs. ...",5172,239,5411,2018-10-27
9,1056025320397037570,Sat Oct 27 03:30:31 +0000 2018,@sk2sno @rtk86 @sheldonth @FactsDataTruth @Tes...,869,41,910,2018-10-27
10,1056025032617426945,Sat Oct 27 03:29:22 +0000 2018,"@FredericLambert It was underpriced. Anyway, i...",1268,45,1313,2018-10-27
11,1056024539832844288,Sat Oct 27 03:27:24 +0000 2018,"@rtk86 @sheldonth @FactsDataTruth @Tesla Ok, w...",794,24,818,2018-10-27
12,1056024270076239873,Sat Oct 27 03:26:20 +0000 2018,"@ctgm @FredericLambert Yeah, or free lifetime ...",615,19,634,2018-10-27
13,1056023407907659783,Sat Oct 27 03:22:55 +0000 2018,@FredericLambert Didn’t you get free Superchar...,1432,39,1471,2018-10-27
14,1056017653758738432,Sat Oct 27 03:00:03 +0000 2018,@annerajb @FredericLambert @pjj_knowles @yames...,871,30,901,2018-10-27
15,1056014996860166145,Sat Oct 27 02:49:29 +0000 2018,@officialjaden Yes. Will require tapping indic...,9924,431,10355,2018-10-27
16,1056012930423160832,Sat Oct 27 02:41:17 +0000 2018,"@pjj_knowles @yames51 @DigitalDunzey No, but I...",1194,34,1228,2018-10-27
17,1056012650918727681,Sat Oct 27 02:40:10 +0000 2018,@mangeHDbackup Isn’t it obvious?,541,15,556,2018-10-27
18,1056012218897059841,Sat Oct 27 02:38:27 +0000 2018,@yames51 @DigitalDunzey Worth it,3084,249,3333,2018-10-27
19,1056012001606914048,Sat Oct 27 02:37:35 +0000 2018,@vincent13031925 @cleantechnica @CNBC @busines...,1463,47,1510,2018-10-27
20,1056001102385049601,Sat Oct 27 01:54:17 +0000 2018,Tesla Autopilot Drive on Navigation going to w...,52867,4165,57032,2018-10-27
21,1056000474560659456,Sat Oct 27 01:51:47 +0000 2018,@sheldonth @FactsDataTruth @Tesla Not exactly....,679,30,709,2018-10-27
22,1055999636236685312,Sat Oct 27 01:48:27 +0000 2018,@fb1975 @DigitalDunzey Haha,872,18,890,2018-10-27
23,1055999003299471360,Sat Oct 27 01:45:56 +0000 2018,"@DigitalDunzey On Insta, 10% of followers like...",2241,95,2336,2018-10-27
24,1055996774572154880,Sat Oct 27 01:37:05 +0000 2018,@_Akhaten @nichegamer @raissabontempo @SomeGra...,495,11,506,2018-10-27
25,1055996020474036224,Sat Oct 27 01:34:05 +0000 2018,@nichegamer @raissabontempo @SomeGrayAreas @re...,1965,42,2007,2018-10-27
26,1055993647995412481,Sat Oct 27 01:24:39 +0000 2018,@SomeGrayAreas @reddit @Twitter Reddit’s twitt...,2977,71,3048,2018-10-27
27,1055991876879233024,Sat Oct 27 01:17:37 +0000 2018,@Mcgillligan Exactly,1921,40,1961,2018-10-27
28,1055991558174953472,Sat Oct 27 01:16:21 +0000 2018,@FactsDataTruth @Tesla You’re right. Earlier M...,691,33,724,2018-10-27
29,1055990004738977793,Sat Oct 27 01:10:11 +0000 2018,"On Twitter, likes are rare &amp; criticism is ...",169897,16419,186316,2018-10-27
...,...,...,...,...,...,...,...
3196,829885356531032064,Fri Feb 10 02:51:02 +0000 2017,@accohen @MeganGeuss @arstechnica Exactly. Wha...,331,31,362,2017-02-10
3197,829861775357071361,Fri Feb 10 01:17:19 +0000 2017,@RusulAlrubail @MarkRuffalo @guardian Please c...,417,37,454,2017-02-10
3198,829834118733062144,Thu Feb 09 23:27:26 +0000 2017,RT @TeslaMotors: Supercharger availability is ...,0,1550,1550,2017-02-09
3199,829509777218613248,Thu Feb 09 01:58:37 +0000 2017,@dknisely of course it will,240,11,251,2017-02-09
3200,829447188325412866,Wed Feb 08 21:49:54 +0000 2017,@SundalJ Should all be uploaded by next month,273,16,289,2017-02-08
3201,829442592978792448,Wed Feb 08 21:31:39 +0000 2017,@sureal808 Motor Trend could only achieve 2.4 ...,331,27,358,2017-02-08
3202,829441987686182912,Wed Feb 08 21:29:14 +0000 2017,@VoltzCoreAudio I don't know what make you thi...,802,99,901,2017-02-08
3203,829431667072733185,Wed Feb 08 20:48:14 +0000 2017,RT @SpaceX: Targeting Feb. 18 for Dragon's nex...,0,2005,2005,2017-02-08
3204,829396254920568832,Wed Feb 08 18:27:31 +0000 2017,George Schultz and Jim Baker article in @WSJ r...,3489,1453,4942,2017-02-08
3205,829046669517860869,Tue Feb 07 19:18:23 +0000 2017,@BatlaG yes,215,12,227,2017-02-07
3206,829027848434257924,Tue Feb 07 18:03:36 +0000 2017,@goel_ishan Hoping for summer this year,981,370,1351,2017-02-07
3207,829015254524792832,Tue Feb 07 17:13:33 +0000 2017,"@mdcdave yes, altitude improves performance fo...",387,52,439,2017-02-07
3208,829002643947167744,Tue Feb 07 16:23:27 +0000 2017,"@jovanik21 @Veidit No, will be lower. Wheelbas...",287,25,312,2017-02-07
3209,828999653886550018,Tue Feb 07 16:11:34 +0000 2017,"@jovanik21 Also, Tesla service can remove fron...",400,29,429,2017-02-07
3210,828998837578526723,Tue Feb 07 16:08:19 +0000 2017,"@Veidit No plans to take X, S (or 3) above 100...",355,59,414,2017-02-07
3211,828984746029912064,Tue Feb 07 15:12:19 +0000 2017,@jovanik21 Take out the floor mats and its 2.2...,617,42,659,2017-02-07
3212,828983364543664128,Tue Feb 07 15:06:50 +0000 2017,@quick_pi yes,151,7,158,2017-02-07
3213,828981873086865410,Tue Feb 07 15:00:54 +0000 2017,Production Tesla Model S P100DL sets Motor Tre...,20741,7788,28529,2017-02-07
3214,828840823093497856,Tue Feb 07 05:40:26 +0000 2017,RT @verge: Millions of Tesla battery cells are...,0,1474,1474,2017-02-07
3215,828320620463140865,Sun Feb 05 19:13:20 +0000 2017,Signing off now. That was more than enough Twi...,7060,359,7419,2017-02-05
3216,828317118051520514,Sun Feb 05 18:59:24 +0000 2017,RT @SteveCase: I agree: https://t.co/mimefUL5h...,0,459,459,2017-02-05
3217,828315290782093312,Sun Feb 05 18:52:09 +0000 2017,@qriosity_ @MacTechGenius No rare earth metals...,685,72,757,2017-02-05
3218,828314791819218944,Sun Feb 05 18:50:10 +0000 2017,@camdtor @trylks Almost ready,579,20,599,2017-02-05
3219,828314321679704066,Sun Feb 05 18:48:18 +0000 2017,@MacTechGenius App update is about two weeks o...,420,37,457,2017-02-05
3220,828312660299091968,Sun Feb 05 18:41:42 +0000 2017,"@FredericLambert Yes, but Model 3 is the overw...",591,38,629,2017-02-05
3221,828312511946567680,Sun Feb 05 18:41:06 +0000 2017,@clay_ellis I will post an article he wrote ha...,706,28,734,2017-02-05
3222,828309896122789889,Sun Feb 05 18:30:43 +0000 2017,@christesla @FredericLambert Almost there. We ...,403,14,417,2017-02-05
3223,828307625632813056,Sun Feb 05 18:21:41 +0000 2017,@trylks A lot of terrible things could happen ...,2451,309,2760,2017-02-05
3224,828305244891336706,Sun Feb 05 18:12:14 +0000 2017,"@FredericLambert Yeah, it is hard to convey co...",603,32,635,2017-02-05
3225,828304178644656129,Sun Feb 05 18:07:59 +0000 2017,@CycleTrades @rtoro20 People should push to ha...,1676,295,1971,2017-02-05

In [10]:
popular = tweet_ETL_dt_df.groupby(['id'], as_index=False).agg({'Popular_Sum':'max','Date':'first'})
popular.head()

                   id  Popular_Sum        Date
0  828304178644656129         1971  2017-02-05
1  828305244891336706          635  2017-02-05
2  828307625632813056         2760  2017-02-05
3  828309896122789889          417  2017-02-05
4  828312511946567680          734  2017-02-05

In [11]:
popular.to_csv("MuskTweetPopular.csv", encoding="utf-8")