In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
elon_file = "Resources/elonmusk_tweets.csv"
spacex_file = "Resources/spacex_launch_data.csv"
teslaone_file="Resources/Tesla.csv.csv"
teslatwo_file="Resources/TSLA (1).csv"

In [7]:
elon_df = pd.read_csv(elon_file)
spacex_df = pd.read_csv(spacex_file)
teslaone_df=pd.read_csv(teslaone_file)
teslatwo_df=pd.read_csv(teslatwo_file)

In [13]:
spacex_df.head( )

,Flight Number,Date,Time (UTC),Booster Version,Launch Site,Payload,Payload Mass (kg),Orbit,Customer,Mission Outcome,Landing Outcome
0,1,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,NaN,LEO,SpaceX,Success,Failure (parachute)
1,2,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel o...",NaN,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,3,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2+,525,LEO (ISS),NASA (COTS),Success,No attempt
3,4,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,5,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt

In [14]:
spacex_cols = ["Date","Launch Site", "Payload", "Customer", "Mission Outcome", "Landing Outcome"]
spacex_transform = spacex_df[spacex_cols].copy()